/* Зададим переменню на цвет текста */
:root {
    --primary-background-color: #ffffff;
    --hero-footer-background-color: #2f303a;
    --second-background-color: #f5f4fa;
    --white-text-color: #ffffff;
    --primary-text-color: #757575;
    --primary-header-logo: #000000;
    --primary-title-color: #212121;
    --accentt-color: #2196f3;
    --font-logo: Raleway, sans-serif;
    --fonts: Roboto, sans-serif;
    --fffffffff: #4ecf34;
  }